{% load cms_tags menu_tags sekizai_tags %}
{% load static %}
<!doctype html>
<html>
    <head>
        <title>{% block title %}This is my new project home page {% endblock title %} </title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <style type="text/css">
          {% block style %}
            .nav {
                padding-left: 0;
            }
            .nav li {
                display:: inline;
                list-style-type: none;
                padding-right: 20px;
            }
            .container {
                width: 940px;
                margin: 0 auto
            }
            .content {
                float: left;
                width: 80%;
            }
            .sidebar {
                float: left;
                width: 20%;
            }
            #kk {
            color : white;
            }
            #kk:hover {
            background : background: rgba(40, 58, 90, 0.9);
            }

            {% endblock style %}
        </style>
         {% render_block "css" %}

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">


  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/new1.png' %}" rel="icon">
  <link href="{% static 'assets/img/new1.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">


 <link href="{% static 'assets/vendor-2/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor-2/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor-2/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor-2/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor-2/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor-2/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor-2/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
   {% render_block "css" %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ANANT SOFT COMPUTING - {% page_attribute "page_title" %}</title>

  <meta name="description" content="{% block desc %} {% endblock %}">
  <meta name="keywords" content="{% block keyw %} {% endblock %}">
  <!-- Favicons -->
  <link href="{% static 'assets/img/new1.png' %}" rel="icon">
  <link href="{% static 'assets/img/new1.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
   {% render_block "css" %}
  <!-- Template Main CSS File -->


  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
 {% render_block "css" %}
  <!-- =======================================================
  * Template Name: Gp - v4.10.0
  * Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
<div  class="fixed-top">

{% if messages %}
 {% for message in messages %}


<div class="alert alert-success alert-dismissible fade show" role="alert">
 <strong>{{message}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
  {% endfor %}
 {% endif %}
</div>
  <!-- ======= Header ======= -->
  <header id="header"  class="fixed-top">
    <div class="container d-flex align-items-center justify-content-lg-between">

     <!--<h1 class="logo me-auto me-lg-0"><a href="index.html"><img </a></h1>-->
      <!-- Uncomment below if you prefer to use an image logo -->
       <a href="{% url 'home' %}" class="logo me-auto me-lg-0"><img src="{% static 'assets/img/hm.png' %}" alt="tt" class="img-fluid"></a>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto " href="{% url 'home' %}">Home</a></li>
          <li><a class="nav-link scrollto" href='{% url "services" %}'>Services</a></li>
          <li><a class="nav-link scrollto" href="{% block l1 %}{% endblock l1%}#about">About</a></li>
          <li><a class="nav-link scrollto " href="{% url 'portfolio' %}">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="{% url 'blog:new'  %}">Blog</a></li>
          <li><a class="" href="{% block l3 %}{% endblock l3%}#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->



    </div>
  </header><!-- End Header -->
  <!-- ======= Hero Section ======= -->
  {% block body %}
  {% endblock body %}
 <!-- ======= Contact Section ======= -->

    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>

        <div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3691.1693334732627!2d73.16916791500834!3d22.309434785318913!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395fc5873e594259%3A0xda3dc91c20f4beec!2sAnant%20Soft%20Computing!5e0!3m2!1sen!2sin!4v1676273570536!5m2!1sen!2sin" width="1300" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p> Satyam Apartment, 1C, Vishwas Colony, Alkapuri, Vadodara, Gujarat 390005</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>anantsoftcomputing@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>096385 44455</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="{% url 'savey' %}" method="post" >
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                  {% csrf_token %}
              </div>
              <div class="my-3">

                <div class="error-message"></div>

                 </div>




              <div  class="text-center" style="{color : black}" ><button id ="kk" type="submit" class="get-started-btn scrollto"><span style="color:black;">Send Message</span></button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->



  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Anant Soft Computing<span></span></h3>
              <p>Satyam Apartment, 1C, Vishwas Colony, Alkapuri, Vadodara, Gujarat 390005<br><br>
                <strong>Phone:</strong> 96385 44455 <br>
                <strong>Email:</strong> anantsoftcomputing@gmail.com <br>
              </p>
              <div class="social-links mt-3">
                <a href="https://mobile.twitter.com/anantsoft" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.facebook.com/anantsoftcomputing/" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/anantsoftcomputing/" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://in.linkedin.com/company/anant-soft-computing" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% block l2 %}{% endblock l2%}#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'services' %}">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'tou' %}">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'pp' %}">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'services' %}">Custom CRM Development</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="{% url 'services' %}">ERM Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'services' %}">SEO</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'services' %}">ERM Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'services' %}">Digital Marketing</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>We Want to Hear From You Write Down Your Feedback and Suggestion</p>

            <form action="{% url 'savey2' %}" method="post">
               {% csrf_token %}
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Anant Soft Computing<strong></strong>. All Rights Reserved
      </div>

    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  {% render_block "js" %}



        <div class="container">
            <ul class="nav">
                {% show_menu 0 100 100 100 %}
            </ul>
            {% block content %}
            {% endblock content %}
        </div>
        {% render_block "js" %}
    </body>
</html>
