{% extends 'base_op.html' %}
{% load cms_tags menu_tags sekizai_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Privacy Policy | ASC{% endblock title %} </title>
    <style></style>
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
</head>
<body>

{% block body %}
<ul style="margin:85px 76px 0px 76px;  ">

    <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Privacy Policy</h2>
          <p>Privacy Policy:</p>
        </div>


<ul>
    <li>
        <h4>Welcome to Anant Soft Computing. This Privacy Policy governs the way in which we collect, use, maintain, and disclose information collected from users (referred to as "you" or "users") of our website, products, and services (collectively referred to as "Services").</h4></li>

    <li><h5>Personal Identification Information:</h5></li>
We may collect personal identification information from users when they visit our site, register on our site, place an order, subscribe to our newsletter, fill out a form, or in connection with other activities, services, features or resources we make available on our site. We will collect personal identification information from users only if they voluntarily submit such information to us. Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain site-related activities.
<br>
<br>
    <li><h5>Non-personal identification information:</h5></li>
We may collect non-personal identification information about users whenever they interact with our site. Non-personal identification information may include the browser name, the type of computer and technical information about users means of connection to our site, such as the operating system and the Internet service providers utilized, and other similar information.
<br>
<br>
    <li><h5>How we use collected information:</h5></li>
We may use personal identification information and non-personal identification information to improve customer service, personalize user experience, improve our site, process payments, run a promotion, survey, or other site feature, send periodic emails, and provide information or respond to inquiries, questions, and/or other requests from users.
<br>
<br>
    <li><h5>Sharing your personal information:</h5></li>
We do not sell, trade, or rent user’s personal identification information to others. We may share generic aggregated demographic information not linked to any personal identification information regarding visitors and users with our business partners, trusted affiliates, and advertisers for the purposes outlined above.
<br>
<br>
    <li><h5>Changes to this privacy policy:</h5></li>
Anant Soft Computing has the discretion to update this privacy policy at any time. When we do, we will post a notification on the main page of our site, revise the updated date at the top of this page. We encourage users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect.
<br>
<br>
    <li><h5>Acceptance of these terms:</h5></li>
By using this site, you signify your acceptance of this policy. If you do not agree to this policy, please do not use our site. Your continued use of the site following the posting of changes to this policy will be deemed your acceptance of those changes.
</div>
{% endblock body %}
</ul>
</body>
</html>