{% extends 'base_op.html' %}
{% load cms_tags menu_tags sekizai_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Terms of Use | ASC{% endblock title %} </title>
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
</head>
<body>
{% block body %}
<div style="margin:85px 76px 0px 76px;">
    <h1>Terms of Use for Anant Soft Computing</h1>
<ul>
<br>
    <li>
        <h4>Welcome to Anant Soft Computing, a software development website offering a range of services to our clients. These Terms of Use govern your access to and use of our website and any services or products provided through our website. By using our website, you agree to these terms and conditions.</h4></li>

<br>
    <li><h5>Acceptance of Terms:</h5></li>
By accessing or using our website, you agree to be bound by these Terms of Use. If you do not agree with these terms and conditions, you should not use our website or any of the services provided through our website.
<br>
<br>
    <li><h5>Use of Services:</h5></li>
Our website offers a variety of services and products related to software development. These services and products are provided for your personal or commercial use, and are subject to these Terms of Use. You may not use our services or products for any illegal or unauthorized purpose.
<br>
<br>
    <li><h5>Intellectual Property:</h5></li>
All content on our website, including text, graphics, logos, images, and software, is the property of Anant Soft Computing and is protected by copyright and other intellectual property laws. You may not reproduce, distribute, modify, or create derivative works from any of the content on our website without our prior written consent.
<br>
<br>
    <li><h5>Disclaimer of Warranties:</h5></li>
We make no representations or warranties of any kind, express or implied, regarding the operation of our website or the services provided through our website. We do not warrant that our website or the services provided through our website will be uninterrupted or error-free.
<br>
<br>
    <li><h5>Limitation of Liability:</h5></li>
We shall not be liable for any damages, including but not limited to direct, indirect, incidental, punitive, and consequential damages, arising out of or in connection with the use of our website or the services provided through our website. We shall not be liable for any loss of profits, revenue, data, or use, or for any other financial loss or damage.
<br>
<br>
    <li><h5>Indemnification:</h5></li>
You agree to indemnify and hold us harmless from any claim, demand, or damage, including reasonable attorneys’ fees, arising out of or in connection with your use of our website or the services provided through our website.
<br>
<br>
<li><h5>Modifications to the Terms of Use:</h5></li>
We reserve the right to modify these Terms of Use at any time without prior notice. Your continued use of our website following any such modification shall be deemed your acceptance of the modified Terms of Use.
<br>
<br>
<li><h5>Governing Law:</h5></li>
These Terms of Use shall be governed by and construed in accordance with the laws of the United States of America and the State of [insert state here], without giving effect to any principles of conflicts of law.
<br>
<br>
<li><h5>Dispute Resolution:</h5></li>
Any dispute arising out of or in connection with these Terms of Use shall be resolved through binding arbitration in accordance with the rules of the American Arbitration Association.
<br>
<br>
<li><h5>Contact Us:</h5></li>
If you have any questions or concerns regarding these Terms of Use, please contact us at [insert contact information here].

</div>
{% endblock body %}

</body>
</html>